/*

	rot: #DE5242;
	hellblau: #212229;
	dunkelblau: #1D1D24;
	noch helleres blau: #383847;

*/

* {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	overflow-y: scroll; /*Page scrollbar machen */
}

body {
	background: #ECECEC;
	width: auto;
	height: auto;
	overflow: hidden;
}

.logo {
	background: url("../Bilder/wastedLogoRot.png");
  float: left;
  height: 50px;
  width: 140px;
	background-size: 100%;
	background-repeat: no-repeat;
}

.upperHeader {
  background: #555561;
  height: 50px;
  width: 100%;
}

.header {
  background: #5B5B67;
  height: 180px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #ECECEC;
  font-size: 1.6em;
  text-align: center;
  vertical-align: middle

}

.roterStrich {
  background: #DE5242;
  height: 5px;
  width: 100%;
}

.boxAroundContent {
	padding: 100px;

}

.inhalt1 {
	float: left;
  height: 350px;
  width: 45%;

  color: #555561;
  font-size: 1.2em;
  font-family: 'roboto light';
  text-align: left;
}

.clear {
	clear: both;
}

.inhalt2 {
	float: right;
  height: 350px;
  width: 45%;

  color: #555561;
  font-size: 1.2em;
  font-family: 'roboto light';
  text-align: left;
}

.button {
	text-decoration: none;
  width: 220px;
	margin: auto;
  color: white;
  padding: 15px;
  background: #DE5242;
  color: #ECECEC;
  font-size: 1.2em;
  display: block;
  text-align: center;
  transition: all 0.2s;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.button:hover {
  border-radius: 20px;
  transition: all 0.2s;
}

.dasProjekt {
	display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: center;
}

.überschriftDasProjekt {
	text-decoration: underline;
	text-decoration-color: #DE5242;
	text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #555561;
  font-size: 1.4em;
  font-family: 'roboto light';
}

.inhaltDasProjekt {
  width: 50%;
	padding-top: 30px;
	padding-bottom: 30px;
  display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #555561;
  font-size: 1.2em;
  font-family: 'roboto light';
  text-align: left;
  vertical-align: middle
}

.titelBild {
	padding-top: 30px;
	text-align: center;
	width: 100%;
	height: 100%;
	background: #CECED0;
}

.gruppenbild {
	margin-top: -40px;
	padding-bottom: 0px;
}
